/*

Everything in this stylesheet aims to follow our Brand Guidelines as closely as possible:

https://about.sourcegraph.com/handbook/marketing/brand/brand_guidelines

*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap");

:root {
  --font-family: "Source Sans Pro", sans-serif;

  /* Brand guideline colors */
  --sg-light-gray: #f4f7fb;
  --sg-dark-gray: #6c757d;
  --sg-space-black: #000000;

  --sg-plum-1: #bfbfff;
  --sg-plum-2: #6b59ed;
  --sg-plum-3: #5033e1;
  --sg-plum-4: #3826cc;

  /* Dynamic color scheme colors */
  --body-bg: white;
  --text-color: #343a4d;

  --link-color: #0b70db;

  --btn-text: white;
  --btn-bg: var(--sg-plum-3);
  --btn-hover-color: var(--sg-plum-4);

  --box-bg: var(--sg-light-gray);

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #14171f;
    --box-bg: #181b26;
    --text-color: #dbe2f0;

    color-scheme: dark;
  }
}

html,
body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  background: var(--body-bg);
  color: var(--text-color);
}

:any-link {
  color: var(--link-color);
}

:focus-visible {
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--sg-plum-3);
}

hr {
  background: var(--sg-dark-gray);
}

/* #region Margins  */

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

p,
ul,
ol {
  margin: 0.4em 0;
}

li {
  margin-bottom: 0.3em;
}
/* #endregion */

/* Note: all headings are intentionally exactly one level smaller than in the Brand content guideline, because the
specified font sizes for each level look too large on the career pages. */

h1 {
  font-size: 3rem;
  font-weight: 200;
}

h2,
h3,
h4,
h5 {
  font-weight: 600 !important;
}

h2 {
  font-size: 1.875rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

h4 {
  font-size: 1.25rem !important;
}

h5 {
  font-size: 1rem !important;
}

/* Override */
.accessible #content {
  line-height: inherit;
}

/* Workaround for non-semantic intro */
#content h3 {
  font-size: 1rem !important;
  font-weight: normal !important;
}

/* #region Use SVG logo including company name */

/* Hide but leave visible for screen readers for the alt text */
#logo > img {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Add SVG logo as pseudo element */
#main > #logo::after {
  content: url(https://sourcegraph.com/.assets/img/sourcegraph-light-head-logo.svg);
  display: block;
  width: 20rem;
}

#main > #logo {
  margin-bottom: 1rem;
  margin-top: 1rem;

  /* Use fixed height to avoid layout shift as SVG loads */
  height: 3.5rem;
  overflow: hidden;
}
/* #endregion */

#board_title {
  margin-top: 2rem;
}

/* Sourcegraph title replaced by SVG logo */
#main > h1 {
  display: none;
}

/* #region Applications  */

.button,
.accessible #submit_app,
.accessible #apply_button {
  color: var(--btn-text);
  background: var(--btn-bg);
  font-family: var(--font-family) !important;
  text-shadow: none !important;
}

.button:hover,
.accessible #submit_app:hover,
.accessible #apply_button:hover {
  background: var(--btn-hover-color);
}

#app_body {
  max-width: 85ch;
}

#app_body #logo::after {
  content: url(https://sourcegraph.com/.assets/img/sourcegraph-mark.svg);
  display: block;
  width: 2rem;
}

#app_body #logo {
  /* Use fixed height to avoid layout shift as SVG loads */
  height: 2.5rem;
  overflow: hidden;
}

/* The default h1 style is too large for job titles */
#app_body h1.app-title {
  font-size: 2.5rem;
  line-height: 1.3;
  margin: 0.5rem 0;
}

#application {
  background: var(--sg-light-gray);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

#main_fields div.field label,
#custom_fields div.field label,
#demographic_questions div.field label,
#eeoc_fields div.field label {
  /* Increase font size */
  font-size: 0.875rem;
}

/* Fix empty space at bottom of page, caused by hidden form */
.s3-upload-form {
  overflow: hidden;
}
/* #endregion */
